spring:
    application:
        name: hrbank
    servlet:
        multipart:
            enabled: true               # 파일 업로드 활성화 여부 (기본값 true)
            max-file-size: 10MB         # 업로드 가능한 개별 파일 최대 크기
            max-request-size: 30MB      # 전체 요청의 최대 크기
            location: /tmp
            # DB 접속 정보
    datasource:
        # 하이브리드 설정: PGHOST 환경변수가 있으면(Railway) 그것을 쓰고, 없으면 localhost(로컬)를 사용
        url: jdbc:postgresql://${PGHOST:localhost}:${PGPORT:5432}/${PGDATABASE:hrbank}
        username: ${PGUSER:hrbank_user}
        password: ${PGPASSWORD:hrbank1234}
        driver-class-name: org.postgresql.Driver
        hikari:
            connection-init-sql: SET SESSION hibernate.jdbc.lob.non_contextual_creation=true
    # JPA 설정
    jpa:
        generate-ddl: false
        database: postgresql
        database-platform: org.hibernate.dialect.PostgreSQLDialect
        show-sql: true
        # OSIV 비활성화
        open-in-view: false
        properties:
            hibernate:
                # 환경변수 DDL_AUTO가 있으면(Railway) 그것을 쓰고, 없으면 update(로컬) 사용
                ddl-auto: ${DDL_AUTO:update}
                format_sql: true
                highlight_sql: true
                use_sql_comments: true
                dialect: org.hibernate.dialect.PostgreSQLDialect

# 커스텀 파일 저장 경로 설정
file:
    upload-dir: uploads

logging:
    level:
        # 실행되는 SQL 출력
        org.hibernate.SQL: debug
        # 바인딩되는 파라미터 출력
        org.hibernate.orm.jdbc.bind: trace

    # 3. server config
server:
    # Railway가 주는 PORT 환경변수가 있으면 쓰고, 없으면 8080 사용
    port: ${PORT:28102}

# 4. backup

backup:
    scheduler:
        interval: 10000000 # 1시간, ms 기준, 시간은 테스트 중이므로 변동 사항있음

# 5. discord
discord:
    webhook:
        url: "https://discord.com/api/webhooks/1464525247683498068/ynJQTs8MLY-_eKYjTgpqtkArQzUTSgBxDpoObNak2AWSqLaK9WBNbuAy6vsapulYDCv5"